body{
	display: table;
}
.filter {
	margin: 1%;
}

label{
	color: #408080;
}
.btn_space {
		margin-top: 5%;
}
.t_head1{
	position: fixed;
}
.table-wrapper1
{
    border: 1px solid #00ff80;
    height: 400px;
    max-width:1000px;
    overflow: auto;
}
.table-wrapper2
{
    border: 1px solid #00ff80;
    height: 300px;
    max-width:1250px;
    overflow: auto;
}

.tbl_reg {
	height: 10px;
	opacity: .8;
	border: 0.02rem solid #0134cb;
 	height: 10px;
 	table-layout: auto;
}
#resDiv {
	height: 10px;
	opacity: .8;
	border: 0.02rem solid #0134cb;
 	height: 10px;
 	table-layout: auto;
}

#srcTableFrame td{
	height: 30px;
	/*font: 5px MS Sans Serif;*/
	margin:auto 0;
	padding: 0.5 rem;
	font-family: Arial;
	font-size: 0.6rem;
	border: 0.01rem solid #0134cb;
}

#srcTableFrame th{
	/*height: 30px;
	font: 5px MS Sans Serif;*/
	font-family: Arial;
	font-size: 0.6rem;
	background-color: #c0c0c0;
	border: 0.01rem solid #0134cb;
}

#resDiv  td {
	height: 20px;
	margin:auto 0;
	padding: 0.5 rem;
	font-family: Arial;
	font-size: 0.6rem;
	border: 0.01rem solid #0134cb;
}

#resDiv th{
	font-family: Arial;
	font-size: 0.6rem;
	background-color: #c0c0c0;
	border: 0.01rem solid #0134cb;
}

.styling2 {
	text-align: left;
	margin-left: 2%;
	color: #252525;
	font: bold 24px MS Sans Serif;
	padding: 0px;
	text-shadow: 2px 2px 5px #252525;
}