body{
	display: table;
}

label{
	color: #408080;
}
.search{
	margin-bottom: 1%;
	margin-left: 80%;
}
#UserTitle{
	margin-bottom: 1%;
}

#uTitle{
	color: #8000ff;
	font: 25px MS Sans Serif;
}

.btn_space {
		margin-top: 2%;
}

.table-wrapper1
{
    border: 1px solid #00ff80;
    height: 360px;
    max-width:1100px;
    overflow: auto;
}
.table-wrapper2
{
    border: 1px solid #00ff80;
    height: 345px;
    max-width:1260px;
    overflow: auto;
}

.tbl_reg {
	height: 10px;
	opacity: .8;
	border: 0.02rem solid #0134cb;
 	height: 10px;
 	table-layout: auto;
}
#resDiv {
	height: 10px;
	opacity: .8;
	border: 0.02rem solid #0134cb;
 	height: 10px;
 	table-layout: auto;
}

#srcTableFrame td{
	height: 30px;
	/*font: 5px MS Sans Serif;*/
	margin:auto 0;
	padding: 0.5 rem;
	font-family: Arial;
	font-size: 0.6rem;
	border: 0.01rem solid #0134cb;
}

#srcTableFrame th{
	/*height: 30px;
	font: 5px MS Sans Serif;*/
	font-family: Arial;
	font-size: 0.6rem;
	background-color: #c0c0c0;
	border: 0.01rem solid #0134cb;
}

#resDiv  td {
	height: 20px;
	margin:auto 0;
	padding: 0.5 rem;
	font-family: Arial;
	font-size: 0.6rem;
	border: 0.01rem solid #0134cb;
}

#resDiv th{
	font-family: Arial;
	font-size: 0.6rem;
	background-color: #c0c0c0;
	border: 0.01rem solid #0134cb;
}